@font-face {
    font-family:g ;
    src: url("./discord_images/font/DiscordFonts/Ginto-Nord/Ginto-Nord-700.woff2");
    
    
}
@font-face{
    font-family: whitney;
    src: url("./discord_images/font/DiscordFonts/Whitney/Whitney-300.woff");
}
@font-face {
    font-family: gn;
    src: url("./discord_images/font/DiscordFonts/Ginto/Ginto-300.woff");
}
body{
    overflow-x: hidden;
    
}
html{
    font-size: 20px;
}
.landing{
    background-color: #404EED;
    background-image: url("./discord_images/clouds.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 7rem;
    
}

.b1,.b2{
border: 0;
}




.top h1{
    font-family: g;
    font-size: 2rem;
}
 .h3{
    font-weight: 400;
    font-size: 1rem;
    max-width: 75%;
}
















  
.footer-right{
font-size: .5rem;
}
footer{
    padding: 80px 150px;
    margin: 0 !important;
}
footer h1{
    font-family: g;
    font-size: 1.6rem;
    
}
footer a{
   
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: #fff;
    text-decoration: underline;
}
footer a:first-child{
    color: #404EED;
    cursor: default;
    
}
footer a:first-child:hover{
    text-decoration: none;
    
}



.right-img{
    right: -270px;
}

.left-img{
left: -270px;
}

.texts h1{
    font-family: g;

}
button:first-child{
    background-color: white;
    width: 300px;
   
}
button:last-child{
    background-color: black;
    
    width: 300px;


}
.head2{
    max-width: 40rem;
    text-align: center;
}












@media only screen and (max-width: 998px) {
    .left-img {
      display: none;
      
    }
    
    .landing{
       height: 100vh !important;
       align-items: flex-start !important;
       justify-content: start !important;
       padding-left: 35px;
       padding-top: 80px;
    }
    .right-img{
      
        right: -120px;
      
    }
    
  .texts{
    justify-content: left !important;
    align-items: flex-start !important;
    font-size: .7rem;
  }
  .texts h1{
    max-width: 300px;
  }
 
   .head2{
    text-align: left;
   } 
  }

  @media screen and (max-width: 760px) {
    .right-img{
        display: none;
    }
    .left-img{
        display: block;
        left: 0;
    }
    .container-fluid{
        height: 100vh;
    }
    .texts .head2{
        font-size: .7rem;
        /* max-width: 150%;/ */
    }
    .texts h1{ 
        max-width:600px;
    }
   
      .landing{
        padding-top: 30px;
      }
      .group{
        flex-direction: column;
        padding: 0 1rem ;
        gap: 0;
      }
      .group2{
        flex-direction: column-reverse;
        padding: 0 1rem ;
        gap: 0;
      }
      .group h1,.group2 h1{
        max-width: 900px !important;
        margin-top: 0 !important;
        font-size:  xx-large;

      }
      .group h3,.group2 h3{
        max-width: 900px;
      }
      
      
   
  }
  @media screen and (max-width:576px) {
    .bbutton {
      min-width: 100%;
    }
    h3{
      text-align: left;  
     
    }
    h1{
        text-align: left;
       min-width: 100%;
       font-size: 1.2rem;
    }
    .middle{
        display: none;
        text-align: left;
    }
    .inner-right,.inner{
        min-width:100vw;
    }
    .btn-set{
        display: flex !important;
        gap: 1rem;
    }
  }















  .login_body,.reg-body{
    width: 100%;
    height: 100vh;
    background-image: url(./discord_images/log.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    
  }
  .login_container{

    padding: 1rem;
    background-color: #36393F;
    color: beige;
    object-fit: contain;
    
  }
  .login_container h2{
    font-size: 1.5rem;
  }
  .login_container h3{
    font-size: .75rem;
  }
  span{
    font-size: .65rem;
    margin-bottom: 5px;
  }
  .login-left{
    max-width: 60%;
    max-height: 75%;
    
  }
  .login-left input{
    background-color: #202225;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 415px;
    color: #fff;

    
  }
.login{
    background-color: #5865F2 !important;
    border-radius: 3px !important;
    padding: 5px 0;
}
  .login-left h2,h3{
    text-align: center;
  }

  .login_container a{
    font-size: 13px;
  }


.navbar{
  background-color: #404EED !important;
  
}
.navbar a{
  color: #fff;
  font-size: .7rem;
}
.navbar a:hover{
  color: #fff;
  text-decoration: underline;
}



.reg-body{
  padding-top: 100px;
}

.reg-body input{
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: .7rem;
  background-color: #202225;
  padding: 5px;
  color: #fff;
}
.reg-body select{
  background-color: #202225;
  border-radius: 5px;
  outline: none;
  color: #fff;
  width: 95px;
  height: 1.5rem;
  font-size: .7rem;
}

.reg-container{
  background-color: #36393F;
  border-radius: 5px;
  color: #fff;
  outline: none;
  border: none;
}
.con{
  background-color: #5865F2 !important;
}
.con:hover{
  background-color: #404EED !important;
}
.reg-body a{
  font-size: .7rem;
  color: #5865F2;
}
.reg-body span{
  font-size: .6rem;
}
.colour{
  color: #5865F2;
}